body {
    font: 20px/1.6 sans-serif;
  }
  
  .banner {
    position: relative;
    height: 100vh;
    background: #ededed url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/photo-nepal.jpg) no-repeat center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .banner > *:not(.skiing) {
    font-weight: 900;
    letter-spacing: -0.05em;
    padding: 5px 15px;
    background: #ffc844;
  }
  
  .banner-title {
    font-size: 3em;
    margin-bottom: -0.5em;
    transform: rotate(-6deg);
  }
  
  .banner-subtitle {
    font-size: 1.5em;
    box-shadow: -15px -15px 15px rgba(0, 0, 0, 0.07);
    transform: rotate(-3deg);
  }
  
  .skiing {
    position: absolute;
    right: 40px;
    bottom: 20px;
    max-width: 150px;
  }
  
  .content {
    position: relative;
    padding: 20px 0;
    background: white;
  }
  
  .container {
    max-width: 1100px;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .content p + p {
    margin-top: 25px;
  }
  
  footer {
    font-size: .85em;
    padding-bottom: 20px;
    text-align: right;
  }
  
  footer a {
    color: black;
    text-decoration: none;
  }
  
  footer span {
    color: #e31b23;
  }
  
  @media screen and (max-width: 500px) {
    body {
      font-size: 14px;
    }
  
    .skiing {
      right: 20px;
      max-width: 100px;
    }
  }
  